<%= form_with model: [customer, vehicle], class: "vstack gap-2" do |form| %>
  <% if vehicle.errors.any? %>
    <div class="alert alert-danger"><%= vehicle.errors.full_messages.to_sentence %></div>
  <% end %>

  <div>
    <%= form.label :vehicle_number, field_label, class: "form-label" %>
    <%= form.text_field :vehicle_number, class: "form-control", required: true %>
  </div>

  <div>
    <%= form.label :fuel_type, "Fuel Type", class: "form-label" %>
    <%= form.select :fuel_type, Vehicle::FUEL_TYPE_OPTIONS, { prompt: "Select fuel type" }, class: "form-select", required: true %>
  </div>

  <div>
    <%= form.label :vehicle_kind, "Vehicle Type", class: "form-label" %>
    <%= form.select :vehicle_kind, Vehicle::VEHICLE_KIND_OPTIONS, { prompt: "Select vehicle type" }, class: "form-select", required: true %>
  </div>

  <%= form.submit submit_label, class: submit_class %>
<% end %>
